<h1>Historical Opportunities</h1>

<table>
  <tr>
    <td style="padding:45px">
      <%=image_tag(@chart_by_total.to_url) %>
    </td>
    <td style="padding:45px">
      <%=image_tag(@chart_by_year.to_url) %>
    </td>
  </tr>
</table>